temp/*
bin/*
DATA/*
TO_ANNOTATE/*
.DS_Store
.idea/
CALIBRATION/*
Test matplotlib.py
test3.avi
test4.avi
/Visualizations workflow.ipynb
/BOP DATASET/Repere_dataset_bop/input/*
/BOP DATASET/Repere_dataset_bop/output/*
BOP DATASET/__pycache__/*